/*================= HTML ================= */
:root {
    --main-color: rgb(255, 110, 110);
    --title-color: black;
    --greeting-text-color: rgb(180, 180, 180);
    --text-color: rgb(121, 121, 121);
    --selection-background: rgb(255, 124, 129);
    --selection-hover: black;
    --selection-text: white;
    --background-color: white;
}

html {
    height: 100%;
}

body{
    background-color: var(--background-color) !important;
    -webkit-transition: all 0.5s ease-in-out;
}

/*================= COLOUR CHANGE WHEN SELECTING ================= */
::selection {
    color: var(--selection-text);
    background-color: var(--selection-background);
}

/*================= CONTAINER ================= */
.container{
    font-family: Nunito, sans-serif;
    color: var(--text-color);
}

/*================= IMAGE ================= */
.image{
    border-radius: 50%;
    width: 90%;
    margin-top: 10.9em;
    box-shadow: 0px 0px 10px var(--greeting-text-color);
}

.imageMobile{
    display: none;
}

/*================= TEXT SECTION ================= */
.about{
    margin-top: 17em;
}

h1{
    display: block;
    color: var(--title-color);
    font-weight: 700 !important;
}

.greeting{
    color: var(--greeting-text-color);
    font-weight: 500;
    display: block;
    position: relative;
    font-size: 50%;
    margin-bottom: 0.7em;
}

.coloredDot{
    color: var(--main-color);
    text-decoration: none;
}

.link{
    color: var(--main-color);
    text-decoration: none;
}

.link:hover{
    color: var(--selection-hover);
    text-decoration: none;
}

#aboutText{
    margin-top: 1.3em;
}

.socialDesktop{
    display: flex;
}

.socialMobile{
    display: none !important;
}

/*================= VARIABLES DARK THEME ================= */
body.dark-theme{
    --main-color: rgb(255, 110, 110);
    --title-color: white;
    --greeting-text-color: rgb(180, 180, 180);
    --text-color: white;
    --selection-background: rgb(255, 124, 129);
    --selection-hover: white;
    --selection-text: white;
    --background-color: rgb(0 0 0 / 90%);
}

/*================= BUTTON DARK/LIGHT ================= */
.nav_btns{
    display: flex;
    align-items: center;
    margin-top: 2em;
}

/* New style */
label {
    display: flex;
    width: 75px;
    height: 35px;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    background: #222;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
  }

  label i {
    font-size: 19px;
  }
  label .fa-sun {
    color: gold;
    transition: 0.8s;
    opacity: 1;
    margin-left: 0.9em;
    margin-top: 0.4em;
  }
  label .fa-moon {
    color: #fff;
    transition: 0.8s;
    opacity: 0;
    transform: translateX(43px);
    transform: translateX(43px) rotate(250deg);
  }
  label .ball {
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    top: 5px;
    left: 5px;
    background: #fff;
    border-radius: 50%;
    transition: 0.8s;
  }

  input:checked + label .fa-sun {
    transform: translateX(-43px);
    opacity: 0;
    transform: translateX(-43px) rotate(160deg);
  }
  input:checked + label .fa-moon {
    transform: translateX(43px);
    opacity: 1;
    transform: translateX(0);
    transform: translateX(0), rotate(0);
  }

  input:checked + label .ball {
    transform: translateX(40px);
    background: #222;
  }

  input:checked + label {
    background: #c0c0c0;
  }

  input {
    display: none;
  }

/*================= MEDIA QUERIES ================= */
/* For small devices*/
@media screen and (max-width: 767px) {

    .image{
        margin-top: 1.5em;
        margin-left: auto;
        margin-right: auto;
    }

    .imageDesktop{
        display: none;
    }

    .imageMobile{
        display: block;
    }

    .socialDesktop{
        display: none;
    }

    .socialMobile{
        display: flex !important;
    }
    


    #presentation{
        margin-top: 1em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #presentation .greeting{
        margin-left: -1.7em;
        text-align: center;
    }

    .about{
        margin-top: 1em;
        padding-bottom: 2em;
    }

    #aboutText{
        margin-left: 2em;
        margin-right: 2em;
        text-align: justify;
    }
}

